.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 100px;
}

.App-header {
    background-color: #222;
    height: 175px;
    padding: 40px;
    color: white;
}
h1
{
    padding:0px;
    margin:0px;
}
h2
{
    padding:0px;
    margin:0px;
}
h3
{
    padding:0px;
    margin:0px;
}
.App-intro {
    font-size: large;
}
.Body{
    background-color:white;
}

.blueLine
{
    height:550px;
    width:100%;
    position:relative;
    background-color: rgba(107, 163, 238, 0.38);
}
.blueLine > img
{
    left: 00%;
    position:absolute;
    height:100%;
    width:50%;
}
.blueLine > p
{

    font-size:70px;
    position:absolute;
    left:50%;
    top:10%;
    color: rgba(114, 114, 114, 0.7);
}

.purpleLine
{
    height:550px;
    width:100%;
    position:relative;
    background-color: rgba(209, 135, 238, 0.38);
}
.purpleLine > img
{
    right: 00%;
    position:absolute;
    height:100%;
    width:50%;
}
.purpleLine > p
{

    font-size:70px;
    position:absolute;
    left:0%;
    top:10%;
    color: rgba(114, 114, 114, 0.7);
}


.footer{
    background-color: #fbfbff;
    height: 200px;
    width: 100%;
    padding: 20px;
    color: salmon;
    position: absolute;
    bottom: 10%;
}
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}